.mail-wrap { max-width: 700px; border: 1px solid #CCCCCC; margin: 0 auto; }
.mail-wrap .mail-box { padding: 80px 56px 100px; }
.mail-wrap .mail-box .logo-wrap { margin-bottom: 30px; }
.mail-wrap .mail-box h2 { font-size: 28px; font-weight: bold; margin-bottom: 20px; line-height: 1.45; }
.mail-wrap .mail-box .content-wrap {white-space: pre-line; font-size: 20px; line-height: 1.45; word-break: keep-all; margin-bottom: 40px; }

.mail-wrap .mail-box h3 { font-size: 24px; margin-bottom: 18px; font-weight: bold; }

.mail-wrap .table-box { margin-bottom: 40px; }
.mail-wrap .table-box .table-body tbody tr { border-bottom: 1px solid #E4E4E4; height: 48px; }
.mail-wrap .table-box .table-body tbody tr:first-child { border-top: 2px solid #373948; }
.mail-wrap .table-box .table-body tbody tr th { text-align: left; padding: 0 24px; font-size: 16px; font-weight: bold; }
.mail-wrap .table-box .table-body tbody tr td { text-align: left; padding: 0 24px; font-size: 16px; }

.mail-wrap .btn-wrap { display: flex; justify-content: center; }
.mail-wrap .btn-wrap .btn { display: flex; justify-content: center; align-items: center; width: 400px; height: 64px; background-color: #202020; border-radius: 32px; color: #fff; font-weight: bold; font-size: 22px; }






.mail-wrap .mail-ft { padding: 80px 60px 84px; background: #E4E4E4 0% 0% no-repeat padding-box; }
.mail-wrap .mail-ft ul { display: flex; flex-direction: column; gap: 8px; color: #000000; margin-bottom: 24px; }
.mail-wrap .mail-ft p { color: #000000; opacity: 0.4; font-size: 14px;  }

